@font-face {
  font-family: 'shortstack';
  src: url('./fonts/ShortStack-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff0400;
  --secondary: #3631CF; 
  --main-bg-color: #27D8D6;
  --btn-color: #593CF6;
  --main-font-size: 4rem;
  --main-font-family: 'shortstack';
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family, sans-serif);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-self: center;
}

.header {
  font-size: var(--main-font-size);
  text-align: center;
  background-color: var(--secondary);
  color: white;
  padding: .2em;
}

.gap {
  gap: 3em;
}

.grid {
  background-color: white;
  width: 35rem;
  height: 35rem;
  border: 2.5em solid var(--primary);
  border-radius: 1em;
  align-self: center;
}

.grid-row {
  flex: auto;
}

.square {
  flex: auto; 
}

button{
  font-size: 3rem;
  background-color: var(--btn-color);
  border-radius: .5em;
  color: white;
  border-style: none;
  padding: .2em; 
  font-family: var(--main-font-family, sans-serif);
  cursor: pointer;
}

input[type="range"]{
  height: 100%;
  appearance: slider-vertical;
  cursor: pointer;
}

label {
  font-size: 1.8rem;
  color: black;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited{
  color:inherit;
}

footer {
  color: black; 
  text-align: center;
  font-size: var(--main-font-size);
}

.selection {
  width: 8vw;
}