@font-face {
  font-family: "shortstack";
  src: url("./fonts/ShortStack-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #820200;
  --secondary: #3631cf;
  --main-bg-color: #27d8d6;
  --btn-color: #3631cf;
  --main-font-size: 2rem;
  --main-font-family: "shortstack";
}

body {
  background: linear-gradient(to bottom right, var(--main-bg-color), #fff);
  font-family: var(--main-font-family, sans-serif);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-self: center;
}

.header {
  font-size: 3rem;
  text-align: center;
  background-color: var(--secondary);
  color: white;
  padding: 0.2em;
  min-height: 4rem
}

.gap {
  gap: 3em;
}

.grid {
  background-color: white;
  width: 35rem;
  height: 35rem;
  border: 2.5em solid var(--primary);
  border-radius: 1em;
  align-self: center;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

.grid-row {
  flex: auto;
}

.square {
  flex: auto;
  transition: background-color;
}

.square:hover {
  background-color: #000;
  transition: background-color 0.2s ease-in-out;
}

button {
  font-size: 2rem;
  background-color: var(--btn-color);
  border-radius: 0.4em;
  color: white;
  border-style: none;
  padding: 0.2em;
  font-family: var(--main-font-family, sans-serif);
  cursor: pointer;
}

button:active {
  background-color: var(--btn-color) !important;
}

.animate {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.animate:hover {
  transform: scale(120%, 120%);
  background-color: #880101;
  color: white;
}

input[type="range"] {
  height: 100%;
  appearance: slider-vertical;
  cursor: pointer;
}

label {
  font-size: 1.8rem;
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary) !important;
}

a:visited {
  color: inherit;
}

footer {
  color: black;
  text-align: center;
  font-size: var(--main-font-size);
}

.selection {
  width: 8vw;
}
